<section class="shop-section">
  <div class="container-fluid position-relative">
    <img src="/assets/burger1.jpg" alt="" class="w-100">
    <div class="shop">Shop</div>
  </div>

</section>
<!-- shop.component.html -->
<section class="categories-section">
  <div class="container-fluid">
    <!-- row1 -->
    <div class="row">
      <div class="col-md-4 mt-5 ">
        <div class="card1 card mb-3">
          <a [routerLink]="['/category', 'Chicken Sliders']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1698624818-SB%20CH.jpeg&w=640&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Chicken Sliders</h4>
          <h5 class="high">  Rs. 1499 </h5>

          <p>Any 4 Chicken Sliders with 1 gourmet fries <br>from Mayo Garlic OR Wild Fries and 2 br
            Soft Drinks</p>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card2 card mb-3">
          <a [routerLink]="['/category', 'Beef Sliders']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1698624831-SB%20BF.jpeg&w=640&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            Beef Sliders</h4>
          <h5 class="high">  Rs. 1699 </h5>

            <p>Any 4 Beef Sliders with 1 gourmet Fries <br> From Mayo Garlic OR Wild Fries and 2 <br>soft Drinks</p>
        </div>
      </div>
      
      <div class="col-md-4 mt-5">
        <div class="card2 card mb-3">
          <a [routerLink]="['/category', ' Party Box']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1698624797-PB.jpeg&w=828&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            Party Box</h4>
          <h5 class="high">  Rs. 2799 </h5>

            <p> Any 6 sliders from Beef And Chicken, 1 <br> Gourmet Fries from Mayo Garlic OR Wild<br> Fries, 1 Appetizer, 3 Soft Drinks</p>
        </div>
      </div>
    </div>

    <!-- 2 ROW -->
    <div class="row">
      <div class="col-md-4 mt-5">
        <div class="card1 card mb-3">
          <a [routerLink]="['/category', 'Super Savor Deal 01']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1704212143-1.jpg&w=828&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Super Savor Deal 01</h4>
          <h5 class="high">  Rs. 549 </h5>

          <p>Any one Value Burger from Crispy Chicken <br> OR Fiery Chicken with 1 Drink</p>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card2 card mb-3">
          <a [routerLink]="['/category', ' Super Savor Deal 02']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720527309-WhatsApp%20Image%202024-07-09%20at%202.49.39%20PM.jpeg&w=640&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
  </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            Super Savor Deal 02</h4>
          <h5 class="high">  Rs. 699 </h5>

            <p>1 Fire Bird Burger, 1 Drink</p>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card2 card mb-3">
          <a [routerLink]="['/category', 'Super Savor Deal 03']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1698624294-SS%201.jpeg&w=640&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            Super Savor Deal 03</h4>
           
          <h5 class="high">   Rs. 549</h5>
            
            <p>Any One Wrap from creamy, Fiery <br> and Smoky with 1 drink</p>
        </div>
      </div>
    </div>
    <!-- 3 ROW -->
    <div class="row">
      <div class="col-md-4 mt-5">
        <div class="card1 card mb-3">
          <a [routerLink]="['/category', 'Plain Fries']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720527958-WhatsApp%20Image%202024-07-09%20at%202.40.42%20PM%20(1).jpeg&w=640&q=75" alt="..." class="hover-effect" style="height: 100%; width: 250px; margin-top: 30px;">
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Plain Fries</h4>
        
          <h5 class="high">  Rs. 249</h5>
          <p>Deep fried french fries

          </p>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card2 card mb-3">
          <a [routerLink]="['/category', 'Mayo Garlic Fries']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1637903930-1632062276-Gourmet-Mayo-Garlic-Fries-min.png&w=640&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
  </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">Mayo Garlic Fries</h4>
<h5 class="high">Rs. 399</h5>
            <p>Deep fried french fries with mayo garlic sauce</p>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card2 card mb-3">
          <a [routerLink]="['/category', 'Wild Fries']">
            <img src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1637903923-1632062736-Gourmet-Wild-Fries-min.png&w=640&q=75" alt="..." class="hover-effect" style="height: 100%; width: 300px; margin-top: 30px;">
          </a>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            
Wild Fries</h4>
<h5 class="high">Rs. 399</h5>
            <p>Spicy chipotle sauce, chipotle powder <br>and fresh Jalapenos, these fries will <br>give you a kick from the wild west</p>
        </div>
      </div>
    </div>
  </div>
</section>