<div class="modal-content">
  <div class="modal-body">
    <div class="row p-0">
      <div class="col-12">
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12 align-items-start image-container">
            <img
              src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1710221481-02.webp&w=640&q=75"
              alt="" class="img-fluid">
          </div>
          <div class="bader col-lg-7 col-md-12">
            <div class="modal-header row p-2 sticky-top">
              <div class="col text-start">
                <h2 class="item-modal-title mb-0 ps-2 ps-lg-1">Summer Feast 02</h2>
              </div>

              <div class="col text-end">
                <div class="close-item">
                  <button  (click)="close()" type="button" class="close border-0 rounded-circle " aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>

            <div class="item-section">
              <div class="row">
                Rs. 999Rs. 1128
              </div>
              <div class="row py-3 ">
                any 1 Premium Burger, 1 Drink
              </div>
              <div class="row py-3">
                <div class="col p-0">
                  Premium Burger

                </div>
                <div class="col text-end me-3">
                  <span class="badge bg-success">Selected</span>
                </div>
              </div>

            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div>
                  <input type="radio" name="burger" id="burger1">
                  <label for="burger1">Crunchos Burger - Grilled Chicken</label>
                </div>
                <img
                  src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F%2F1698621078-Coke.jpg&w=64&q=75"
                  alt="Messy Meat Burger">

                <span>-</span>
              </li>
              <li class="list-group-item">
                <div>
                  <input type="radio" name="burger" id="burger2">
                  <label for="burger2">Crunchos Burger - Beef</label>
                </div>
                <img
                  src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F%2F1698621078-Coke.jpg&w=64&q=75"
                  alt="Messy Meat Burger">
                <span>-</span>
              </li>
              <li class="list-group-item">
                <div>
                  <input type="radio" name="burger" id="burger3">
                  <label for="burger3">Messy Meat - Beef</label>
                </div>
                <img
                  src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F%2F1698621078-Coke.jpg&w=64&q=75"
                  alt="Messy Meat Burger">
                <span>-</span>
              </li>
            </ul>
            <h5 class="mt-4">Choose your Drink <span class="required-badge">required</span></h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div>
                  <input type="radio" name="drink" id="drink1">
                  <label for="drink1">Coke 350 ml</label>
                </div>
                <img
                  src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F%2F1698621078-Coke.jpg&w=64&q=75"
                  alt="Coke">
                <span>-</span>
              </li>
              <li class="list-group-item">
                <div>
                  <input type="radio" name="drink" id="drink2">
                  <label for="drink2">Sprite 350 ml</label>
                </div>
                <img
                  src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F%2F1698621078-Coke.jpg&w=64&q=75"
                  alt="Sprite">
                <span>-</span>
              </li>
              <li class="list-group-item">
                <div>
                  <input type="radio" name="drink" id="drink2">
                  <label for="drink2">Sprite 350 ml</label>
                </div>
                <img
                  src="https://burgeroclock.com.pk/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F%2F1698621078-Coke.jpg&w=64&q=75"
                  alt="Sprite">
                <span>-</span>
              </li>
            </ul>

            <div class=" footer border-top p-1 sticky-bottom bg-white">
              <div class="row">
                <div class="col-3 " style="margin-bottom: 40px;">
                  <div class="quantity-selector mt-4">
                    <label for="quantity">Quantity</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary" type="button">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control no-focus-outline" value="1" id="quantity" />
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col mt-5 text-end">
                  <button class="btn btn-outline-danger w-100">ADD TO CART</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>