<body>
  <div class="container">
    <div class="row product-detail">
      <div class="col-md-12 col-lg-6  left-side">
        <!-- <img
          src="assets/images/imageProduct.png"
          class="img-fluid"
          alt="Product Image"
        /> -->
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://www.kfcpakistan.com/images/43a95f10-ffaa-11ed-b673-4121381f04c6-mighty-Combo-2023-05-31115706.png" class="d-block w-100" alt="Product Image">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://www.kfcpakistan.com/images/43a95f10-ffaa-11ed-b673-4121381f04c6-kenteky-combo-2023-05-31115706.png" class="d-block w-100" alt="Product Image">
              </div>
              <div class="carousel-item">
                <img src="https://www.kfcpakistan.com/images/3bc81d20-1ee1-11ef-a719-915185e558e8-jalapenoThumbnail2_variant_0-2024-05-31000339.png" class="d-block w-100" alt="Product Image">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
       
        <!-- Add thumbnails carousel here if needed -->
      </div>
      <div class="col-md-12 col-lg-6 right-side">
        <h1>WHOLE CHICKEN MEAL</h1>
        <p class="text-warning">Availability: In stock</p>
        <p class="mb-2">SKU: N/A</p>
        <p class="mb-2">Vendor: Provider</p>
        <h2 class="text-warning">
            Rs.627.00 <span class="text-muted"><del>Rs.660.00</del></span>
        </h2>
        <hr>
        <p>
            Introducing the newest sensation in the world of beverages, Cola One
            by Provider! In its sleek 300ml packaging, Cola One promises an
            exhilarating fusion of traditional cola flavors with a unique twist
            that only Provider can offer. Crafted with care and a keen understanding
            of what cola lovers seek, Cola One delivers a refreshing, crisp taste
            designed to invigorate your senses and quench your thirst. Perfect for
            those who appreciate the classic cola experience with a hint of
            innovation, Cola One is set to become your next go-to drink for every
            occasion. Dive into the rich, effervescent flavor of Cola One and let
            every sip take you on a delightful journey of taste and refreshment.
        </p>
    
        <hr>
        <div class="bottom-content">
              <!-- Quantity Selector -->
        <div class="quantity-selector mt-4">
            <label for="quantity">Quantity</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-secondary" type="button">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
                <input type="text" class="form-control no-focus-outline" value="1" id="quantity" />
                <div class="input-group-append">
                    <button class="btn btn-warning" type="button">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    
        <!-- Buttons -->
        <div class="buttons row mt-4">
            <div class="col-6">
                <button class="btn btn-outline-danger w-100">ADD TO CART</button>
            </div>
            <div class="col-6">
                <button class="btn btn-warning w-100">BUY IT NOW</button>
            </div>
        </div>
    
        <!-- Additional Info -->
        <div class="additional-info row mt-4">
            <div class="col-4 mb-3">
                <div class="info-item rounded-1 bg-secondary-subtle p-1">
                    <i class="fas fa-truck"></i>
                    <p>3-5 DAYS</p>
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="info-item rounded-1 bg-secondary-subtle p-1">
                    <i class="fas fa-shipping-fast"></i>
                    <p>SHIPPING TRACKING</p>
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="info-item rounded-1 bg-secondary-subtle p-1">
                    <i class="fas fa-check-circle"></i>
                    <p>GUARANTEED PRODUCTS</p>
                </div>
            </div>
        </div>
        <hr>
        </div>
      
    </div>
    
    
    </div>
  </div>
  
      <!-- tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Description</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Shipping & Return</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Reviews</button>
        </li>
      </ul>
      <!-- tabs -->




      <!-- Work -->
      <div class="container-fluid">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mt-5" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <p>Introducing the newest sensation in the world of beverages, Cola One by Pakola! In its sleek 300ml packaging, Cola One promises an <br>exhilarating fusion of traditional cola flavors with a unique twist that only Pakola can offer. Crafted with care and a keen understanding of <br>what cola lovers seek, Cola One delivers a refreshing, crisp taste designed to invigorate your senses and quench your thirst. Perfect for those <br>who appreciate the classic cola experience with a hint of innovation, Cola One is set to become your next go-to drink for every occasion. Dive <br> into the rich, effervescent flavor of Cola One and let every sip take you on a delightful journey of taste and refreshment.</p>
                <h1 class="text-center">Related products</h1>
                <app-carbonated-products></app-carbonated-products>
            </div>

            <div class="tab-pane fade mt-5" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <p>
                    <b>Returns Policy</b> <br>
                    You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a<br> result of our error (you received an incorrect or defective item, etc.).<br><br>

                    You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will<br> receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days),<br> the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund <br>request (5 to 10 business days).<br><br>

                    If you need to return an item, simply login to your account, view the order using the 'Complete Orders' link under the MyAccount menu and<br> click the Return Item(s) button. We'll notify you via e-mail of your refund once we've received and processed the returned item.<br><br>

                    <b>Shipping</b><br><br>
                    We can ship to virtually any address in the world. Note that there are restrictions on some products, and some products cannot be shipped<br>to international destinations.<br><br>

                    When you place an order, we will estimate shipping and delivery dates for you based on the availability of your items and the shipping<br> options you choose. Depending on the shipping provider you choose, shipping date estimates may appear on the shipping quotes page.<br><br>

                    Please also note that the shipping rates for many items we sell are weight-based. The weight of any such item can be found on its detail<br>page. To reflect the policies of the shipping companies we use, all weights will be rounded up to the next full pound.<br><br>
                </p>
                <h1 class="text-center">Related products</h1>
                <app-carbonated-products></app-carbonated-products>
            </div>
            <div class="tab-pane fade mt-5" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
               <h1 class="text-center">Related products</h1>
               <app-carbonated-products></app-carbonated-products>
            </div>
        </div>
    </div>

    

      <!-- Work -->
      
</body>
