<div class="container-fluid mt-3">
    <div class="row ms-1">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card heading">
              <div class="image-container">
                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720170638-Ultimate-crunch-feast.jpg&w=828&q=75" alt="Card 1" class="card-image main-image" />
                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720160348-435390896_969591568287205_6547300758603040048_n.jpg&w=828&q=75" alt="Card 2" class="card-image hover-image" />
              </div>
              <div class="col-12">
                <div class="row mb-2 align-items-center">
                  <!-- <div class="col-9">
                    <button class="btn btn-danger w-100">
                      Add to cart
                    </button>
                  </div> -->
<!--                   
                  <div class="col-1 d-flex justify-content-center mt-1">
                    <i class="bi bi-eye-fill"></i>
                  </div> -->

                  <div class="button">
                    <button class="add-to-cart row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 m-2 caart">ADD TO CART</button>
                    <button class="view-button btn "><i class="fa fa-eye"></i></button>
                </div>

                </div>
                <div class="row">
                  <span class="ms-2 hover-text product-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut veritatis, eius nam pariatur itaque! Optio reprehenderit perferendis repellat? Quis.
                  </span>
                </div>
                <div class="row mt-2 price">
                    <span>Rs.969.00 &nbsp;
                    <span style="text-decoration: line-through;">Rs.1200.00</span>
                </span>
                  </div>
                  
              </div>
            </div>
          </div>
          <!-- Duplicate the above block for each card -->
  
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card heading">
                <div class="image-container">
                    <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1713423114-plain.jpg&w=640&q=75" alt="Card 1" class="card-image main-image" />
                    <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1713423161-salsa.jpg&w=640&q=75" alt="Card 2" class="card-image hover-image" />
                </div>
                <div class="col-12">
                    <div class="row mb-2">
                        <div class="button">
                            <button class="add-to-cart row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 m-2 caart">ADD TO CART</button>
                            <button class="view-button btn"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="ms-2 hover-text product-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut veritatis, eius nam pariatur itaque! Optio reprehenderit perferendis repellat? Quis.
                        </span>
                    </div>
                    <div class="row mt-2 price">
                        <span>Rs.969.00 &nbsp;
                            <span style="text-decoration: line-through;">Rs.1200.00</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
  
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card heading">
              <div class="image-container" style="margin-top: 20px;">
                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1702037414-_0004_siracha-burger.jpg&w=640&q=75" alt="Card 1" class="card-image main-image mb-3" />
                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1718004987-_JK_6473.jpg&w=640&q=75" alt="Card 2" class="card-image hover-image mb-3" style="margin-bottom: 5px;" />
              </div>
              
              <div class="col-12">
                <div class="row mb-2">
                  <div class="button">
                    <button class="add-to-cart row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 m-2 caart">ADD TO CART</button>
                    <button class="view-button btn "><i class="fa fa-eye"></i></button>
                </div>
                </div>
                <div class="row">
                  <span class="ms-2 hover-text product-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut veritatis, eius nam pariatur itaque! Optio reprehenderit perferendis repellat? Quis.
                  </span>
                </div>
                <div class="row mt-2 price">
                    <span>Rs.969.00 &nbsp;
                    <span style="text-decoration: line-through;">Rs.1200.00</span>
                </span>
                  </div>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card heading">
              <div class="image-container">
                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720170976-Ultimate-feast-box.jpg&w=640&q=75"alt="Card 1" class="card-image main-image" />
                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720170638-Ultimate-crunch-feast.jpg&w=828&q=75"alt="Card 2" class="card-image hover-image" />
              </div>
              <div class="col-12">
                <div class="row mb-2">
                <div class="button">
                    <button class="add-to-cart row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 m-2 caart">ADD TO CART</button>
                    <button class="view-button btn "><i class="fa fa-eye"></i></button>
                </div>
                
                </div>
                <div class="row">
                  <span class="ms-2 hover-text product-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ut veritatis, eius nam pariatur itaque! Optio reprehenderit perferendis repellat? Quis.
                  </span>
                </div>
                <div class="row mt-2 price">
                    <span>Rs.969.00 &nbsp;
                    <span style="text-decoration: line-through;">Rs.1200.00</span>
                </span>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  