<footer>
    <div class="container mt-5">
        <div class="row g-3 g-lg-4">
            <div class="col-12 col-md-4 col-lg-5">
                <div class="footer-section logo">
                    <img src="/assets/logo33.jpg" alt="company Logo">
                </div>

                    <p style="margin-top: 30px;"> Food is an essential part of human life, providing <br>
                       not only the necessary nutrients and energy required <br>
                        for survival but also playing a significant role in <br>
                         cultural traditions and social gatherings. From the s <br>
                         picy curries of India to the delicate sushi of Japan, <br>
                          the world's  </p>
                    <div class="connect py-3">
                        <p class="fw-bold fs-4">Connect with Us</p>
                        <a href="#"><i class="bi bi-facebook mt-3"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer-link-list">
                    <div class="footer-link-list-content">
                        <ul class="footer-links list-unstyled mb-0">

                                <li class="Saifi py-1 mb-md-2">
                                    <a href="/collections/all" title="">Our Products</a>
                                </li>

                                <li class="Saifi py-1 mb-md-2">
                                    <a href="/pages/water" title="">Water</a>
                                </li>

                                <li class="Saifi py-1 mb-md-2">
                                    <a href="/pages/careers" title="">Careers</a>
                                </li>

                                <li class="Saifi py-1 mb-md-2">
                                    <a href="/pages/recipes" title="">Recipes</a>
                                </li>

                                <li class="Saifi py-1 mb-md-2">
                                    <a href="/pages/news-events" title="">News &amp; Events</a>
                                </li>

                                <li class="Saifi py-1 mb-md-2">
                                    <a href="/pages/about-us" title="">About Us</a>
                                </li>

                                <li class="Saifi py-1">
                                    <a href="/pages/contact-us" title="">Contact Us</a>
                                </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="footer__center-text">
                    <div class="footer__content pt-2 ">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+923122016476">+92-312-2016476 (9:00Am – 2:00Am)</a></p>
<p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@pakola.com.pk">Foods123.com.pk</a></p>
<p><i class="fa fa-map-marker" aria-hidden="true"></i><span >Head Office</span> </p><p>C/ 5-A, tariq Road, Karachi, Pakistan</p>
<p><i class="fa fa-map-marker" aria-hidden="true"></i><span>Karachi Outlet</span></p><p> Plot# 29A, Phase 1A,  Karachi City,  Pakistan</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2022 Foods Pakistan All Rights Reserved | <b>Powered By <span class="color">Echo Digital</span></b></p>
    </div>
</footer>
