<div class="container-fluid">
    <div class="row px-2">
        <div class="col-3 p-0">
            <app-filter></app-filter>
        </div>
        <div class="col-9">
            <!-- row1 -->
            <div class="row mb-3">
                <div class="col-4">
                    <div class="card h-8">
                        <div class="card-body position-relative">
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-image-b">
                            <a (click)="showProductDetail()">
                                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720170638-Ultimate-crunch-feast.jpg&w=828&q=75"
                                     class="card-img-top" alt="Ultimate Crunch Feast">
                            </a>
                        </div>
                        <div class="button">
                            <button (click)="openModal()" class="view-button btn"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="product-info">
                        <p class="boldd">Ultimate Crunch Feast</p>
                        <p class="boldd">Rs. 1490.00
                            <span class="old-price"
                                style="text-decoration: line-through; color: rgb(187, 189, 189);">Rs.1750.00</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-8">
                        <div class="card-body position-relative">
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-image-b">
                            <a (click)="showProductDetail()">
                                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720160348-435390896_969591568287205_6547300758603040048_n.jpg&w=828&q=75"
                                     class="card-img-top" alt="Family Combo 1">
                            </a>
                        </div>
                        <div class="button">
                            <button (click)="openModal()" class="view-button btn"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="product-info">
                        <p class="boldd">Family Combo 1</p>
                        <p class="boldd">Rs. 2090.00<span class="old-price"
                                style="text-decoration: line-through; color: rgb(187, 189, 189);">Rs.2450.00</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-8">
                        <div class="card-body position-relative">
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-image-b">
                            <a (click)="showProductDetail()">
                                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720160283-435390896_969591568287205_6547300758603040048_n.jpg&w=828&q=75"
                                     class="card-img-top" alt="Family Combo 3">
                            </a>
                        </div>
                        <div class="button">
                            <button (click)="openModal()" class="view-button btn"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="product-info">
                        <p class="boldd">Family Combo 3</p>
                        <p class="boldd">Rs. 2490.00<span class="old-price"
                                style="text-decoration: line-through; color: rgb(187, 189, 189);">Rs.2750.00</span></p>
                    </div>
                </div>
            </div>
            <!-- row2 -->
            <div class="row">
                <div class="col-4">
                    <div class="card h-8">
                        <div class="card-body position-relative">
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-image-b">
                            <a (click)="showProductDetail()">
                                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1718004987-_JK_6473.jpg&w=640&q=75"
                                     class="card-img-top" alt="Ultimate Crunch Feast">
                            </a>
                        </div>
                        <div class="button">
                            <button (click)="openModal()" class="view-button btn"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="product-info">
                        <p class="boldd">CHICKEN CHIPOTLE BURGER</p>
                        <p class="boldd">Rs. 550.00
                            <span class="old-price"
                                style="text-decoration: line-through; color: rgb(187, 189, 189);">Rs.1750.00</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-8">
                        <div class="card-body position-relative">
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-image-b">
                            <a (click)="showProductDetail()">
                                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1720169646-Chicken-Chipottle-with-fries-%26-drink.jpg&w=640&q=75"
                                     class="card-img-top" alt="Family Combo 1">
                            </a>
                        </div>
                        <div class="button">
                            <button (click)="openModal()" class="view-button btn"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="product-info">
                        <p class="boldd">
                            CHICKEN CHIPOTLE BURGER + FRIES + DRINK</p>
                        <p class="boldd">Rs. 699.00<span class="old-price"
                                style="text-decoration: line-through; color: rgb(187, 189, 189);">Rs.2450.00</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-8">
                        <div class="card-body position-relative">
                            <div class="discount-badge">-10%</div>
                        </div>
                        <div class="card-image-b">
                            <a (click)="showProductDetail()">
                                <img src="https://kababjeesfriedchicken.com/_next/image?url=https%3A%2F%2Fassets.indolj.io%2Fimages%2F1718005223-_JK_6441%20copy.jpg&w=640&q=75"
                                     class="card-img-top" alt="Family Combo 3">
                            </a>
                        </div>
                        <div class="button">
                            <button (click)="openModal()" class="view-button btn"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="product-info">
                        <p class="boldd">
                            CHICKEN JALAPENO BURGER + FRIES</p>
                        <p class="boldd">Rs. 650.00<span class="old-price"
                                style="text-decoration: line-through; color: rgb(187, 189, 189);">Rs.2750.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
