

<!-- <div class="image-container">
  <img src="/assets/bargar6.jpg" alt="Background Image" style="height: 600px; width: 100%;">
  <div class="overlay-text"> Contact Us</div>
</div> -->

<section class="shop-section">
  <div class="container-fluid position-relative">
    <img src="/assets/burger1.jpg" alt="" class="w-100">
    <div class="overlay-text">Contact Us</div>
  </div>

</section>

<div class="container mt-5">
  <div class="row">
    <!-- Head Office -->
    <div class="col-md-4 col-sm-12 mb-4">
      <h5>Head Office (Karachi)</h5>
      <p>
        C/ 5-A, Tariq Road,
        <br>
        Karachi , Pakistan,
      </p>
    </div>

    <!-- Faisalabad Factory -->
    <div class="col-md-4 col-sm-12 mb-4">
      <h5>Karachi Outlet</h5>
      <p>
        Plot # 29-A, Phase 1A,  Karachi,
        <br>
        City, Pakistan,</p>
    </div>

    <!-- Call or Email -->
    <div class="col-md-4 col-sm-12 mb-4">
      <h5>Call or Email</h5>
      <p>
        UAN Number: 111- Foods-OLA (725-652)
        <br>
        Fax Number: +9221-32563829
        <br>
        Email. Foods123.com.pk
      </p>
    </div>
  </div>

  <div class="card mt-5 mb-5 p-3">
    <div class="row">
      <!-- Contact Us Form -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h1>
          <span>
            <u><b>Contact us</b></u>
          </span>
        </h1>
        <form class="mt-4">
          <!-- First and Last Name -->
          <div class="row mb-3">
            <div class="col-sm-6 mb-3">
              <!-- <input type="text" class="form-control" placeholder="First Name"> -->
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">
                  <i class='fa fa-user'></i>

                </span>
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" aria-describedby="addon-wrapping">
              </div>



            </div>
            <div class="col-sm-6 mb-3">
              <!-- <input type="text" class="form-control" placeholder="Last Name"> -->

    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">
        <i class='fa fa-user'></i>

      </span>
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" aria-describedby="addon-wrapping">
    </div>
            </div>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <!-- <input type="email" class="form-control" placeholder=" <i class='fa fa-envelope'></i>"> -->
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping">
                <i class='fa fa-envelope'></i>

              </span>
              <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
            </div>
                    </div>



          <!-- Phone Number -->
          <div class="mb-3">
            <!-- <input type="tel" class="form-control" placeholder="Phone number"> -->
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping">
                  <i class='fa fa-mobile-alt'></i>

              </span>
              <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" aria-describedby="addon-wrapping">
            </div>
            </div>


          <!-- Subject -->
          <div class="mb-3">
            <!-- <input type="text" class="form-control" placeholder="Subject"> -->
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping">
                  <i class='fa fa-map-marker-alt'></i>

              </span>
              <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="addon-wrapping">
            </div>
            </div>


          <!-- Message -->
          <div class="mb-3">
            <textarea class="form-control" rows="4" placeholder="Message"></textarea>
          </div>

          <!-- Submit Button -->
          <button type="submit" class=" bg-light btn- w-100" style="max-width: 300px; height: 40px; border-radius: 10px;">Send Your Message</button>
        </form>
      </div>

      <!-- Map -->
      <div class="col-lg-6 col-md-12 col-sm-12 mt-4 mt-lg-0 d-flex justify-content-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.835434508052!2d144.9649793158172!3d-37.81410797975186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577c2a229b8ec4!2sMehran%20Bottlers%20(Pvt)%20Ltd%20(Pakola)!5e0!3m2!1sen!2s!4v1622727727483!5m2!1sen!2s"
          width="550px" height="350" style="border:0; margin-top: 65px;"></iframe>
      </div>
    </div>
  </div>
</div>
