
 
  <section class="shop-section">
    <div class="container-fluid position-relative">
      <img src="/assets/burger1.jpg" alt="" class="w-100">
      <div class="overlay-text">Recipes</div>
    </div>
  
  </section>
  <div class="container-fluid mt-5">
    <div class="card m-3 mx-auto" style="max-width: 1350px;">
      <div class="row g-0">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <!-- <video controls style="height: 100%; width: 100%;" class="img-fluid rounded-start">
          <source src="/assets/foods123@gmail.com (1).mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> -->
          <img src="/assets/crispy bargar.jpg" alt="" class="barger">
        </div>

        <div class="col-lg-5 col-md-6 col-sm-12">
          <!-- <img [src]="images[imageIndex2]" style="height: 100%; width: 100%;" class="img-fluid rounded-start" alt="...">
          <button (click)="changeImages()" class="arrow-button">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div> -->
          <span class="paragraph">
            <p>
              Food is an essential part of human life, providing <br>
              the necessary nutrients and energy required for survival <br>
              but also playing a significant role in cultural traditions <br>
              and social gatherings. From the spicy curries of India <br>
              to the delicate sushi of Japan, the world's cuisines offer <br>
              a tantalizing array of flavors, textures, and aromas <br>
              that reflect the diversity of human culture and creativity <br>.
              The ingredients used in various dishes often tell a story <br>
              of regional climates, agricultural practices, and historical <br>
              influences. In recent years, there has been a growing <br>
              awareness of the importance of sustainable and healthy <br>
              eating, with more people opting for organic produce, <br>
              plant-based diets, and locally-sourced ingredients <br>.
              Whether it's a hearty breakfast,
            </p>
          </span>
        </div>


        <div class="container mt-5-sm-6 mt-md-4">
          <div class="row row1 mt- ms-3">
            <h1 class="ms-4">Super Delicious</h1>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card mb-3">
                <img class="image" src="/assets/barger.jpg" alt="">
              </div>
              <div class=" mt-3">
                <span class=""><i class="text-danger fas fa-star"></i></span>
                <span class=""><i class="text-danger fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
              </div>
              <p><b class="burger mb-5">Mighty Cheesy Burger</b></p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card mb-3">
                <img class="image" src="/assets/bargar5.jpg" alt="">
              </div>
              <div class=" mt-3">
                <span class=""><i class="text-danger fas fa-star"></i></span>
                <span class=""><i class="text-danger fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
              </div>
              <p class=""><b>Mighty Beef Burger</b></p>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="card mb-3">
                <img class="image" src="/assets/bargar2.jpg" alt="">
              </div>
              <div class=" mt-3">
                <span class=""><i class="text-danger fas fa-star"></i></span>
                <span class=""><i class="text-danger fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
                <span class=""><i class="text-warning fas fa-star"></i></span>
              </div>
              <p class=""><b>Mighty Crispy Burger</b></p>
            </div>



            <div class="row row2 mt-5">
              <h1 class="ms-3">Popular Categories</h1>
              <div class="col-lg-2 col-md-4 col-sm-6 mt-4 text-center">
                <img class="circle img-fluid" src="/assets/bargar3.jpg" alt="">
                <p><b>Chicken Burgar</b></p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mt-4 text-center">
                <img class="circle1 img-fluid"
                  src="/assets/bargar5.jpg" alt="">
                <p><b>Mighty Burgar</b></p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mt-4 text-center">
                <img class="circle2 img-fluid" src="/assets/barger.jpg" alt="">
                <p><b>Burgar</b></p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mt-4 text-center">
                <img class="circle3 img-fluid" src="/assets/bargar2.jpg" alt="">
                <p><b>Beef Burgar</b></p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mt-4 text-center">
                <img class="circle4 img-fluid" src="/assets/brost.jpg" alt="">
                <p><b>Brost</b></p>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mt-4 text-center">
                <img class="circle5 img-fluid" src="/assets/bargar1.jpg" alt="">
                <p><b>Fish Burgar</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
