<div class="container mt-5">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/pakola-jelly_346x211.png?v=1646292104" class="card-img-top" alt="Pakola Jelly">
              <div class="card-body">
                <h3 class="card-title">Pakola Jelly</h3>
                <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/doodh-soda_346x211.png?v=1646292104" class="card-img-top" alt="Doodh Soda">
              <div class="card-body">
                <h3 class="card-title">Doodh Soda</h3>
                <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/raspberry-mocktail_346x211.png?v=1646292104" class="card-img-top" alt="Raspberry Mocktail">
              <div class="card-body">
                <h3 class="card-title">Raspberry Mocktail</h3>
                <p class="card-text">You’ll fall in love with this delicious Raspberry Mocktail Recipe specially designed for the hot summer months!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  




    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/pakola-jelly_346x211.png?v=1646292104" class="card-img-top" alt="Pakola Jelly">
              <div class="card-body">
                <h3 class="card-title">Pakola Jelly</h3>
                <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/doodh-soda_346x211.png?v=1646292104" class="card-img-top" alt="Doodh Soda">
              <div class="card-body">
                <h3 class="card-title">Doodh Soda</h3>
                <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/raspberry-mocktail_346x211.png?v=1646292104" class="card-img-top" alt="Raspberry Mocktail">
              <div class="card-body">
                <h3 class="card-title">Raspberry Mocktail</h3>
                <p class="card-text">You’ll fall in love with this delicious Raspberry Mocktail Recipe specially designed for the hot summer months!</p>
              </div>
            </div>
          </div>
        </div>
      </div>





    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/pakola-jelly_346x211.png?v=1646292104" class="card-img-top" alt="Pakola Jelly">
              <div class="card-body">
                <h3 class="card-title">Pakola Jelly</h3>
                <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/doodh-soda_346x211.png?v=1646292104" class="card-img-top" alt="Doodh Soda">
              <div class="card-body">
                <h3 class="card-title">Doodh Soda</h3>
                <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <img src="https://pakola.com.pk/cdn/shop/files/raspberry-mocktail_346x211.png?v=1646292104" class="card-img-top" alt="Raspberry Mocktail">
              <div class="card-body">
                <h3 class="card-title">Raspberry Mocktail</h3>
                <p class="card-text">You’ll fall in love with this delicious Raspberry Mocktail Recipe specially designed for the hot summer months!</p>
              </div>
            </div>
          </div>
        </div>
      </div>






    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img src="https://pakola.com.pk/cdn/shop/files/pakola-jelly_346x211.png?v=1646292104" class="card-img-top" alt="Pakola Jelly">
            <div class="card-body">
              <h3 class="card-title">Pakola Jelly</h3>
              <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img src="https://pakola.com.pk/cdn/shop/files/doodh-soda_346x211.png?v=1646292104" class="card-img-top" alt="Doodh Soda">
            <div class="card-body">
              <h3 class="card-title">Doodh Soda</h3>
              <p class="card-text">Beat the heat! An ultra-quenching drink that satisfies a day-long thirst. Everyone’s favourite during Ramadan and Eid.</p>
            </div>
          </div>
        </div>
      </div>


</div>

 
