
<section class="about-ussection">
  <app-more></app-more>
<div class="saif row text-center">
    <div class="col-12 ">
        <div class="message">
        <h1 class="p-3" style="color: white;">CEO’s Message</h1>
        <p>Yum! Brands, Inc. (NYSE: YUM) today announced the promotion of Sabir Sami, 54, to KFC Division Chief <br>
           Executive Officer, reporting to Yum! Brands Chief Executive Officer David Gibbs, effective January 1, 2022. <br>
            Sami, who currently serves as KFC Division Chief Operating Officer and Managing Director of KFC Asia, <br>
             will succeed Tony Lowings, who is stepping down as CEO at the end of 2021 in advance of his retirement  <br>
             in early 2022. In addition, Dyke Shipp, 55, who currently serves as KFC Division Chief Development <br>
              Officer and Chief People Officer, is being promoted to KFC Division President, reporting to Sami, <br>
               effective January 1, 2022. (Photo: Business Wire)</p>
               <br><br>
               <p style="color: black;">September 22, 2021 08:30 AM Eastern Daylight Time</p>

               <p> LOUISVILLE, Ky.--(BUSINESS WIRE)--Yum! Brands, Inc. (NYSE: YUM) today announced the promotion <br>
                 of Sabir Sami, 54, to KFC Division Chief Executive Officer, reporting to Yum! Brands Chief Executive <br>
                 Officer David Gibbs, effective January 1, 2022. Sami, a 12-year veteran of the Company, <br>
                  who currently serves as KFC Division Chief Operating Officer and Managing Director of KFC Asia, <br>
                  will succeed Tony Lowings, who is stepping down as CEO at the end of 2021 in advance of his  <br>
                  retirement in early 2022. In this role, Sami will assume global responsibility for driving the  <br>
                  brand strategy and performance of KFC.</p>


        <div class="container text-center">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-2">
                <img src="	https://mms.businesswire.com/media/20210922005549/en/908756/4/Sabir_Photo.jpg?download=1" alt="" class="rounded-circle img-fluid">
              </div>
              <div class="col-md-4 text-left">
                <p class="font-weight-bold mb-0" style="color: black;"><span style="font-weight: bold; font-size: larger; text-decoration: underline;">Sabir Sami</span> Promoted to KFC Division CEO</p>
                <p class="mb-0" style="color: black; font-weight: bold;">CEO</p>
                <p style="color: black; font-weight: bold;">KFC CEO</p>
              </div>
            </div>
          </div>
</div>
    </div>
   </div>
<section class="certifications-section">
<div class="row mt-2">
    <div class="certifications-section">
        <h1 class="certification"> Certifications</h1>
        <div class="certifications-container">
          <div class="certification-item">
            <img src="https://tse3.mm.bing.net/th?id=OIP.s5bfzCx-3gUITtRZ5LA1pQHaFA&pid=Api&P=0&h=220" alt="ISO 45001: Occupational health and safety">
            <p style="color: black">ISO 45001: Occupational health and safety</p>
          </div>
          <div class="certification-item">
            <img src="https://www.picclickimg.com/k6MAAOSwqdljfyO8/T23-Kfc-Kentucky-Fried-Chicken-Merit-Certificate.webp" alt="ISO 45001: Occupational health and safety">

            <p style="color: black">ISO 14001: Environmental management system</p>
          </div>
          <div class="certification-item">
            <img src="/assets/C4.jpg" alt="ISO 45001: Occupational health and safety">

            <p style="color: black">ISO 9001: Quality Management system</p>
          </div>

        </div>
      </div>
</div>
<div class="row mt-2">
    <div class="certifications-section">
        <div class="certifications-container">
          <div class="certification-item">
            <img src="https://www.shiachat.com/forum/uploads/monthly_2019_07/377090949_Screenshot2019-07-01at21_03_01.png.dc342009f93f1c6e003a42c531057764.png" alt="ISO 45001: Occupational health and safety">

            <p style="color: black">FSSC 22000: Food Safety System Certification</p>
          </div>
          <div class="certification-item">
            <img src="https://pakola.com.pk/cdn/shop/files/IHC-Halal-Certificate--MEHRAN-BOTTLERS-_PVT_-LTD-FAISALABAD--2022-23_360x.jpg?v=1649670088" alt="ISO 45001: Occupational health and safety">
            <p style="color: black">PS 3733:2019: Pakistan Halal Standard</p>
          </div>


        </div>
      </div>
</div>
<section class="map-section">
    <div class="row mt-5">
        <h1 style="color:white">Global Reach </h1>
        <div class="col-lg-12 col-md-8 col-sm-6 d-flex justify-content-center">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.835434508052!2d144.9649793158172!3d-37.81410797975186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577c2a229b8ec4!2sMehran%20Bottlers%20(Pvt)%20Ltd%20(Pakola)!5e0!3m2!1sen!2s!4v1622727727483!5m2!1sen!2s"
            width="100%" height="500" style=" margin: 60px;"></iframe>
        </div>
    </div>
</section>
</section>
</section>
